// Census Colors
$census-orange: #ff7043;
$census-orange-dark: #c25432;
$census-navy: #112E51; // background
$census-grey: #4B636E; // nav text
$census-grey-light: #78909C;
$census-grey-lightest: #A7C0CD; // divider lines
$census-teal: #008393; // link color
$census-teal-light: #26C6DA;

// USWDS Overrides
$color-grid-dark:   #727272;
$color-grid-light:  #e3e4e5;
$font-monospace:    Consolas, Monaco, 'Andale Mono', monospace;
$font-path:         '../assets/fonts';
$image-path:        '../assets/img';

$external-href:     '[href^="http"]:not([href*=".gov"])';

$z-nav-secondary: 10;

$font-sans:           'Roboto', sans-serif !default;
$font-serif:          'Roboto', sans-serif !default; // Currently using a sans font in place of all serifs

$focus-outline:       2px dotted $census-grey;
$focus-spacing:       3px;

// Site image path, relative to /css/
$site-image-path: '../img';

// Custom Variables
$font-light: 300;
$site-nav-font-size: 1.7rem;
$media-block-header-font-size: 1.7rem;
$media-block-body-font-size: 1.5rem;

// Census colors
// TODO use census color variables
$color-primary: #112E51;
$color-primary-darker: #4B636E;
$color-secondary: #FF7043;
$color-primary-alt: #26C6DA;
$color-primary-alt-darker: #0095A8;
$color-primary-alt-darkest: #0095A8;
$color-gray-lighter: #A7C0CD;
