---
title: Design principles
permalink: /design-principles/
layout: styleguide
lead: "With so many types of data visualizations, we focus first on basic principles.  These universal guidelines help ensure people can get the most benefit from your charts, graphs, and data visualizations. "

principles:

  - title: The goals of plain language also apply to data visualizations.
    desc: >
      Let your data do the work for you. Lower the cognitive load by removing
      unnecessary visual components. If it isn’t essential, get rid of it.
      Drop shadows, boxes around visualizations or their components, and
      three-dimensional rendering are rarely necessary. Close your eyes and
      squint at your visualization. Can you see the main point? A simple
      visual scan should be sufficient for many data visualizations.

      Label and annotate elements simply and succinctly, using only the most
      meaningful words Use [plain language](https://plainlanguage.gov). It
      is your job to describe your data correctly, not the reader's job to
      guess what you mean.

  - title: Mobile first.
    desc: >
      And by extension, website first. To communicate with the widest audience,
      start with the channels that reach the most people. In a world in which
      more and more people use government services via mobile devices, designing
      for print introduces distracting complexities. Design with a small screen
      in mind.

  - title: Style counts.
    desc: >
      Select a complementary way to visualize the data. People should be able to
      interpret the data correctly with a minimal amount of supporting
      information.

      Establish and follow a style guide.  If you don’t have one yet, try using
      the U.S. Web Design Standards. Keep the use of styles, typography, and
      colors uniform.  Use standard, legible typography, elements, and colors.
      If iconography is used, keep it uniform (a zoom button on a map - for
      example, should always look the same).  Be careful when using color -
      gradients in a bar chart can lead to the wrong interpretation.


  - title: Cite the data.
    desc: >
      Citations are important. Include a link to machine-readable source data
      where possible. Do not link to PDFs where possible - PDFs are generally
      a very inefficient way of sharing information and add burden on the
      reader.

  - title: Be a trusted source.
    desc: >
      Let the data tell the story - but only the one it can support. Avoid
      misleading your reader by using inconsistent colors, incorrect axis,
      misleading titles, suggestive correlations or other manipulations that
      aren’t substantiated by the data.Doing so will alienate attentive
      readers, and lead to broader distrust of government data sources.

---

{% for principle in page.principles %}
  {% cycle '<div class="usa-grid-full">', '' %}
  <div class="usa-width-one-half">
    <h2>
      {% if principle.href %}<a href="{{ principle.href | relative_url }}">{% endif %}
      {{ principle.title }}
      {% if principle.href %}</a>{% endif %}
    </h2>
    <p>{{ principle.desc | normalize_whitespace }}</p>
  </div>
  {% cycle '', '</div>' %}
{% endfor %}
